<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adorable.panggilan112">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Panggilan112">
        <activity
            android:name=".Notifikasi"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name="com.github.alezhka.flutter_incoming_call.IncomingCallActivity" -->
        <!-- android:theme="@style/Theme.AppCompat" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:showOnLockScreen="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.github.alezhka.flutter_incoming_call.activity.ACTION_INCOMING_CALL" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <receiver android:name="com.github.alezhka.flutter_incoming_call.CallBroadcastReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"/> -->


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>